@import './../../../style/variables.scss';
.wrapperPageAdmin {
    max-width: 1000px;
    padding-top: 15px;
    margin-top: 20px;
    margin: auto; 
   
      
    
}

.containerSearchPageAdmin {
width: 100%;
}

.headerPageAdmin {
    background-color: white;
    display: flex; 
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    justify-content: space-between;
    border-radius: 5px; 
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}

.containerBack {
    display: flex;
}

.backPageAdmin{
    width: 25px;
    height: 25px;
    transition: .6s;
    cursor: pointer;
    margin: auto ;
    &:hover {
       opacity: .5;
    }
}


.addUserButton{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 4px;
    background:  $colorActive;
    border: 1px solid  $colorActive;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    width: 150px;
    text-align: center; 
    transition: .6s;
    &:hover {
       opacity: .5;
    }
}

.searchPageAdmin {
    width: 50%;
    position: relative;
    margin: auto 0;
    border: 1px solid;
    border-radius: 5px;

    input{
        padding: 10px 0;
        padding-left: 45px;
        width: 100%;
        border-radius: 5px;
        border: none;

        
    }
    
}


.searchImg{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 7px;
    
}

.containerAdminTable {
    overflow: auto;
}

.titleAdminTable{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 1000px;
    
  
    
    
}

.listAdminTable{
   width: 100%; 
   min-width: 1000px;
}
