
.itemNavMenuButton{
    
    display: none;
    width: 40px;
    
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 1;
    padding: 10px 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    font-size: 0;
    transition: 0.3s;
}

.itemNavMenu {
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: background-color .2s linear;
}

.itemNavMenu::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: black;
    left: 0;
    z-index: 1;
    top: -10px;
    transition: transform .2s linear;
}

.itemNavMenu::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: black;
    left: 0;
    z-index: 1;
    bottom: -10px;
    transition: transform .2s linear;
}

.burgerNavMenuWrapper{
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    width: 300px;
    height: 100%;
    transition: all 0.5s ease 0s;
    transform: translateX(-100%);

}

.burgerNavMenuWrapper.active {
    transition: all 0.5s ease 0s;
    transform: translateX(0);
} 


.burgerNavMenuItem{
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1100;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background: #373a47;
    padding: 10px 30px;
    font-size: 1.15em;
}

.MenuItem{
    display: block;
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 700;
    transition: color 0.2s;
    text-transform: uppercase;
    padding: 10px 0;
    transition: 0.5s;
    

}

.MenuItem:hover {
    color: white;
    
}


.itemNavMenuButton:hover {
    opacity: .3;
}

.overlay{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1005;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    
    transform: translateX(-100%);
}

.overlay.active {
    
    transform: translateX(0);
} 


@media screen and (max-width: 700px){
    
    .itemNavMenuButton
{
    display: flex;
}
    
  }