@import './../../../style/variables.scss';
.wrapperPagePost {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.wrapperPagePostTitle {
    width: 100%;
    
    margin: 0 0 5px 0;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    padding: 5px 0;
    position: relative;
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    .pagePostTitle {
        font-weight: 700;
        font-size: 20px;

    }
    .closePagePost {
        position: absolute;
        right: 10px;
        top: -5px;
        text-decoration: none;
        color: black;
        cursor: pointer;
       transition: .4s;
       padding-top: 10px;
       user-select: none;   
    &:hover {
        opacity: .5; }
    }   
    
}
.containerPhotoDescription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.containerPhoto {
    width: 350px;
    height: 250px;
    margin:  5px 0 5px 5px;
    padding: 2px;
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    

    img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }

}
.containerDescription {
    width: 100%;
    background-color: white;
    margin: 5px 5px 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    flex-direction: column;
    position: relative;
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .closeImg{
        width: 15px;
        height: 15px;
    }

    .containerAuthor {
        display: flex;
        justify-content: flex-start;
    }

    .authorPostPhoto {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    
    .authorPostName {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 700;
    }

    .authorPostDate{
        font-size: 12px;
        padding-left: 15px;
        color: gray;
    }

    .pagePostDescription {
        padding-top: 10px;
    }

    .deletePost {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        transition: .4s;
        user-select: none;   
     &:hover {
         opacity: .5; }
     }   

     .containerComment {
        width: 100%;
    }

    .showMoreComments {
        padding-top: 20px;
        display: flex;
        margin: auto;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
        &:hover {
            
            opacity: .5;
        }

    }