.wrapperProfile {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    display: flex;
    
    margin-top: 20px;
    margin: auto;
    
    
    }
        
    .photoProfile {
        width: 350px;
        height: 250px;
        margin: 5px;
        padding: 2px;
        background-color: white;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
         object-fit: cover;
        overflow: hidden;  
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
        }

    }
    .photoProfileSign {
        width: 350px;
        height: 250px;
        margin: 5px;
        padding: 2px;
        background-color: #2196f3;
        border-radius: 5px;
        justify-content: center;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 140px;
        color: white;
        
    
    }



    .infoProfile {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        padding-left: 30px;
        margin: 5px;
        flex-direction: column;
        position: relative;

        .block {
            padding: 10px 0;
        }

        label {
            font-size: 12px;
            left: 15px;
            opacity: .8;
            color: grey;
            pointer-events: none;
            user-select: none;
        }
        
    }
    
    .infoName {
        top: 15px;
        font-size: 30px;
        font-weight: 700;
    }

    .infoEmail {
        top: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .infoNumber {
        top: 15px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .editButton {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        
        &:hover svg{
            fill:#2196f3;
        }
        svg{
            width: 100%;
            height: 100%;
            transition: .4s ;
        }
    }

    .inputFileAvatar {
        display: none;
    }
    
    @media screen and (max-width: 800px){
    
        .wrapperProfile {
            justify-content: center;
            flex-wrap: wrap;
        }
        .infoProfile {
            width: 350px;
        }
      }