@import '../../../style/variables.scss';

.containerForm {
    max-width: 600px;
    width: 96%;
    height: 100%;
    background-color:  $colorForm;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .iteamForm{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
      h3{
          text-align: center;
      }

      input {
          width: 100%;
            margin: 15px 0;
          line-height: 40px;
          background-color: $colorForm;
            border: 1px solid $colorActive;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 10px;
          
      }
    }
}

.inputWrapper {
    position: relative;
    width: 83%;

    label{
        position: absolute;
        background-color:  $colorForm;
        left: 10px;
        padding: 0 8px;
        pointer-events: none;
        padding-left: 10px;
    }
}



.iteamAddSingIn {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    width: 83%;
    cursor: pointer;
    user-select: none;
    background-color: $colorActive;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid $colorActive;
    border-radius: 4px;
    transition: .4s;
    &:hover {
        opacity: .5;
        .addImg{
            fill: $colorActive;
        }
    }
    &:focus {
        outline: none;
    }
}

.addImg {
    fill: $colorForm; 
    width: 30px;
    height: 30px;
    margin-top: -5px;
}


.iteamLogoImg {
    pointer-events: none;
    width: 75px;
    height: 75px;
}

.iteamTab {
    padding-top: 5px;
    width: 83%;
    text-align: right;
    color: $colorActive;
    transition: .6s;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}


.coppyright {
    color: rgba(0, 0, 0, 0.54);
    pointer-events: none;
    position: absolute;
    bottom: 10px;
}


