 .wrapperAdminTable{
     background-color: white;
     padding: 5px;
     border-radius: 5px;
     box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
     margin-top: 10px;
     display: flex;
     justify-content: space-between;
 }

 
 .userPhotoAdminTable {
    height: 60px;
    width: 60px;
    border-radius: 50%;
 }

 .actionAdminTable {
    display: flex;
    justify-content: space-between;
    padding:  5px;
   
 }

 .actionEdit {
     width: 35px;   
     height: 35px;
     
 }

 .actionDelete {
    width: 35px;   
    height: 35px;
    margin-left: 5px;
}