@import '../../style/variables.scss';

.iteamNotification {
    margin-top: 20px;
    width: 250px;
    height: 100px;
    background-color: $colorForm;
    border-radius: 0 20px 0 20px ;
    box-shadow: 4px 8px 0px #942c2c;
    user-select: none;
    line-height: 2.5;
    text-align: center;
    border: 1px solid #942c2c;
    
    .titleNatification {
        padding-top: 10px;
    }
    
}

