@import './../../src/style/variables.scss';

.avatarUser {
width: 100%;
height: 100%;
border-radius: 50%;
}

.avatarUserLetter {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
background-color: $colorActive;

}