@import './../../../../style/variables.scss';

.introBlog {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.intro {
    display: flex;
        margin: auto;
        justify-content: center;
        flex-direction: column;
        text-align: center;
       

        h1{
            opacity: .6;
        }
        
        .introImgTitle {
            display: flex;

            
            
        .introLogoImg {
            width: 100px;
            height: 100px;
        }
        .introTitle {
            color: black;
            font-size: 64px;
            font-weight: 700;
            user-select: none;
            }
        }
  
}

.scroll-down
{
    display: flex;
    margin-bottom: 100px;
    transform: translate(-50%,-50%);
}
.scroll-down span:nth-child(2)
{
    animation-delay: -0.2s;
}
.scroll-down span:nth-child(3)
{
    animation-delay: -0.4s;
}
.scroll-down span
{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
@keyframes animate
{
    0%
  {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
  {
        opacity: 1;
    }
    100%
  {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
