@import './../../../style/variables.scss';
.wrapperPageCreatePost {
    
        max-width: 1000px;
        width: 100%;
        padding: 20px;
        display: flex;
        margin:  auto;
        width: 100%;
        
    
}

.infoContainer {
    width: 80%;
    margin: 0 auto;
}

.infoPageCreatePost {
    text-align: center;
    border-radius: 5px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 0;
    

        h3 {
            text-align: center;
        }

        .fileCreateModal {
            width: 100%;
            position: relative;
            margin: 15px 0;

           
            

        }

        .titleCreateModal{
            width: 100%;
            padding: 10px 20px;
            position: relative;

            

            input {
            padding: 10px 0;
            width: 100%;
            padding-left: 10px;

            }

            label{ 
                position: absolute;
                background-color: white;
                pointer-events: none;
                left: 35px;
                bottom: 39px;
                padding: 1px;
            
            }
        
        }

        .bodyCreateModal{
            padding: 10px 20px;
            width: 100%;
            position: relative;

            textarea {
                width: 100%;
                height: 100px;
                padding-left: 10px;
                padding-top: 10px;

            }

            label{ 
                position: absolute;
                background-color: white;
                pointer-events: none;
                left: 35px;
                bottom: 105px;
                padding: 1px;
            
            }
        }

}

.toPublishButton{
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 4px;
    background:  $colorActive;
    border: 1px solid $colorActive;
    padding: 10px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    width: 150px;
    text-align: center; 
    transition: .6s;
    &:hover {
       opacity: .5;
    }

}

@media screen and (max-width: 800px){
    
    .wrapperPageCreatePost{
      flex-wrap: wrap;
      justify-content: center;  
    }
    .infoPageCreatePost {
        width: 100%;
        margin-right: 0;
    }
  }
