@import './../../../../style/variables.scss';
.logOutButton {
  padding: 5px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  padding: 5px 20px ;
  transition: .6s;
  font-weight: 700;
  text-transform: uppercase;

  &:hover{
      background-color: $colorActive;
      
  }
}

